extends layout

block content
	

block sidebar
	-for(var i = 0; i < content.length; i++)
		-route = content[i]
		p(style= 'color: #{route["color"]}') #{route['shortName']}

block scripts
	script(src='javascripts/boroughs.js')