extends layout

block content
	

block sidebar
	-for(var i = 0; i < content.length; i++)
		-route = content[i]
		-shortName = route.shortName
		a.col-xs-6(style= 'color: #{route["color"]}',href= shortName) #{shortName}

block scripts
	script(src='javascripts/boroughs.js')