doctype html
html
  head
    title= title
    script(src="http://code.jquery.com/jquery-1.10.1.min.js")
    link(rel='stylesheet', href='stylesheets/style.css')
    link(rel='stylesheet', href='//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css')
    link(rel='stylesheet', href='//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap-theme.min.css')
    script(src='//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js')

    script(src='javascripts/d3.js', charset='utf-8')
  body
    .row-fluid
        #main.col-xs-8
            block content
        #sidebar.col-xs-4
            block sidebar
    .row-fluid
        #scripts
            block scripts