body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

g {
      fill: white;
      stroke: black;
}


.Staten_Island:hover {
	fill: #6C8cD5;
}
.Brooklyn:hover {
	fill: #5CCCCC;
}
.Manhattan:hover {
	fill: #67E667;
}
.Queens:hover {
	fill: #C9F76F;
}
.Bronx:hover {
	fill: #876FD7;
}

#sidebar {
	float: right;
}