body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  margin-color: #66A3D2;
}

a {
  color: #00B7FF;
}

g {
      fill: white;
      stroke: black;
}

h2 {
  border-bottom: 2px solid;
}



.Staten_Island:hover {
	fill: #6C8cD5;
}
.Brooklyn:hover {
	fill: #5CCCCC;
}
.Manhattan:hover {
	fill: #67E667;
}
.Queens:hover {
	fill: #C9F76F;
}
.Bronx:hover {
	fill: #876FD7;
}

#sidebar {
  overflow: scroll;
  font: 23px Helvetica, arial, clean, sans-serif;
}